<a href="https://colab.research.google.com/github/zhengyanggao02/zhengyanggao_DTSC3020Fall2025/blob/main/assignment2_zg0114.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#1.
fruits = ['apple','banana','orange']
for fruit in fruits:
  print(fruit)
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
orange
apple
banana
orange

In [6]:
#2.
names = ['Zion','Jay','Mary','George']
names[0]='David'
print(names)

['David', 'Jay', 'Mary', 'George']

In [7]:
#3.
vehicles = ['car','bus','ship','air_plane','train']
vehicles.append('tank')
print(vehicles)

['car', 'bus', 'ship', 'air_plane', 'train', 'tank']

In [9]:
#4.
foods = ['bread','rice','egg','beef','milk','tomato']
foods.remove('tomato')
print(foods)

['bread', 'rice', 'egg', 'beef', 'milk']

In [15]:
#5.
cities = ['Beijing','Dallas','Tokyo','Paris']
cities.sort()
print(cities)
cities.sort(reverse=True)
print(cities)

['Beijing', 'Dallas', 'Paris', 'Tokyo']
['Tokyo', 'Paris', 'Dallas', 'Beijing']

In [16]:
#6.
animals = ['cat','cow','dog']
for animal in animals:
  print(animal)

cat
cow
dog

In [25]:
#7.
numbers = [1,2,3,4,5]
for number in numbers:
  number = number*2
  print(number)

2
4
6
8
10

In [21]:
#8.
friends = ['May','Bob','Kite','Jame','Ford','John']
print(friends[0:3])
print(friends[-3:])

['May', 'Bob', 'Kite']
['Jame', 'Ford', 'John']

In [23]:
#9.
for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [24]:
#10.
numbers = range(1,6)
for number in numbers:
  number = number**2
  print(number)

1
4
9
16
25